In [49]:
library(tidyverse)
library(repr)
library(readxl)

In [51]:
players <- read.csv("https://query.data.world/s/5rsuhhhre47qwwe2ydsyntwrtxgtnr", header=TRUE, stringsAsFactors=FALSE)

players_filtered <- df %>% 
    filter(Year <= 2016 & Year >= 2000) %>% 
    filter(Player != "0") %>% 
    select(Year, Player, Age)

# TODO: Add the remaining Stats to select()
#       Points, Assists, Rebounds, Field Goal Percentage
#       Currently, Age is used as a pseudo-stat
#       Assists = AST%


players_filtered

     Year Player              Age
1    2000 Michael Finley      26
2    2000 Gary Payton         31
3    2000 Latrell Sprewell    29
4    2000 Kevin Garnett       23
5    2000 Shareef Abdur-Rahim 23
6    2000 Allan Houston       28
7    2000 Shaquille O'Neal    27
8    2000 Mike Bibby          21
9    2000 Jerry Stackhouse    25
10   2000 Anthony Mason       33
11   2000 Vince Carter        23
12   2000 Michael Dickerson   24
13   2000 Ray Allen           24
14   2000 Antoine Walker      23
15   2000 Elton Brand         20
16   2000 Reggie Miller       34
17   2000 Dikembe Mutombo     33
18   2000 Jalen Rose          27
19   2000 Nick Van Exel       28
20   2000 Karl Malone         36
21   2000 Dirk Nowitzki       21
22   2000 Lindsey Hunter      29
23   2000 Juwan Howard        26
24   2000 Glenn Robinson      27
25   2000 Bryon Russell       29
26   2000 Sam Cassell         30
27   2000 Stephon Marbury     22
28   2000 Chris Webber        26
29   2000 Tim Duncan          23
30   2000 Eric Snow           26
⋮    ⋮    ⋮                   ⋮
8553 2016 Luc Mbah a Moute    29
8554 2016 Josh Richardson     22
8555 2016 James Ennis         25
8556 2016 Sasha Kaun          30
8557 2016 Damjan Rudez        29
8558 2016 Erick Green         24
8559 2016 Cole Aldrich        27
8560 2016 Spencer Dinwiddie   22
8561 2016 Sam Dekker          21
8562 2016 Luis Montero        22
8563 2016 K.J. McDaniels      22
8564 2016 Cameron Payne       21
8565 2016 Sergey Karasev      22
8566 2016 Pat Connaughton     23
8567 2016 Jordan Mickey       21
8568 2016 Kirk Hinrich        35
8569 2016 Delon Wright        23
8570 2016 Jarnell Stokes      22
8571 2016 Andrew Nicholson    26
8572 2016 Chris Kaman         33
8573 2016 Robert Sacre        26
8574 2016 Anthony Brown       23
8575 2016 Joseph Young        23
8576 2016 Tibor Pleiss        26
8577 2016 Lucas Nogueira      23
8578 2016 Walter Tavares      23
8579 2016 Shayne Whittington  24
8580 2016 Solomon Hill        24
8581 2016 Jeff Withey         25
8582 2016 Cristiano Felicio   23

In [52]:
all_stars <- read_csv("data/all_stars_2000_2016.csv")
all_stars_filtered <- all_stars %>% 
    filter(Year <= 2016 & Year >= 2000) %>% 
    select(Year, Player) %>% 
    mutate(Is_All_Star = TRUE)

all_stars_filtered

Parsed with column specification:
cols(
  Year = col_double(),
  Player = col_character(),
  Pos = col_character(),
  HT = col_character(),
  WT = col_double(),
  Team = col_character(),
  `Selection Type` = col_character(),
  `NBA Draft Status` = col_character(),
  Nationality = col_character()
)

    Year Player                Is_All_Star
1   2016 Stephen Curry         TRUE
2   2016 James Harden          TRUE
3   2016 Kevin Durant          TRUE
4   2016 Kawhi Leonard         TRUE
5   2016 Anthony Davis         TRUE
6   2016 Russell Westbrook     TRUE
7   2016 DeMarcus Cousins      TRUE
8   2016 Klay Thompson         TRUE
9   2016 Draymond Green        TRUE
10  2016 Marc Gasol            TRUE
11  2016 DeAndre Jordan        TRUE
12  2016 Gordon Hayward        TRUE
13  2016 Kyrie Irving          TRUE
14  2016 DeMar DeRozan         TRUE
15  2016 LeBron James          TRUE
16  2016 Giannis Antetokounmpo TRUE
17  2016 Jimmy Butler          TRUE
18  2016 Isaiah Thomas         TRUE
19  2016 John Wall             TRUE
20  2016 Kevin Love            TRUE
21  2016 Kyle Lowry            TRUE
22  2016 Paul George           TRUE
23  2016 Kemba Walker          TRUE
24  2016 Paul Millsap          TRUE
25  2015 LeBron James          TRUE
26  2015 Dwyane Wade           TRUE
27  2015 Paul George           TRUE
28  2015 Carmelo Anthony       TRUE
29  2015 Kyle Lowry            TRUE
30  2015 Jimmy Butler          TRUE
⋮   ⋮    ⋮                     ⋮
410 2001 Chris Webber          TRUE
411 2001 Elton Brand           TRUE
412 2000 Allen Iverson         TRUE
413 2000 Tracy McGrady         TRUE
414 2000 Vince Carter          TRUE
415 2000 Alonzo Mourning       TRUE
416 2000 Grant Hill            TRUE
417 2000 Ray Allen             TRUE
418 2000 Antonio Davis         TRUE
419 2000 Theo Ratliff          TRUE
420 2000 Glenn Robinson        TRUE
421 2000 Jerry Stackhouse      TRUE
422 2000 Stephon Marbury       TRUE
423 2000 Anthony Mason         TRUE
424 2000 Dikembe Mutombo       TRUE
425 2000 Latrell Sprewell      TRUE
426 2000 Allan Houston         TRUE
427 2000 Jason Kidd            TRUE
428 2000 Kobe Bryant           TRUE
429 2000 Tim Duncan            TRUE
430 2000 Shaquille O'Neal      TRUE
431 2000 Chris Webber          TRUE
432 2000 Michael Finley        TRUE
433 2000 Kevin Garnett         TRUE
434 2000 Karl Malone           TRUE
435 2000 Antonio McDyess       TRUE
436 2000 Gary Payton           TRUE
437 2000 Rasheed Wallace       TRUE
438 2000 David Robinson        TRUE
439 2000 Vlade Divac           TRUE

In [55]:
combined_data <- left_join(players_filtered, all_stars_filtered, by = c("Year", "Player")) %>% 
    replace(is.na(.), FALSE)
    
combined_data

     Year Player              Age Is_All_Star
1    2000 Michael Finley      26   TRUE
2    2000 Gary Payton         31   TRUE
3    2000 Latrell Sprewell    29   TRUE
4    2000 Kevin Garnett       23   TRUE
5    2000 Shareef Abdur-Rahim 23  FALSE
6    2000 Allan Houston       28   TRUE
7    2000 Shaquille O'Neal    27   TRUE
8    2000 Mike Bibby          21  FALSE
9    2000 Jerry Stackhouse    25   TRUE
10   2000 Anthony Mason       33   TRUE
11   2000 Vince Carter        23   TRUE
12   2000 Michael Dickerson   24  FALSE
13   2000 Ray Allen           24   TRUE
14   2000 Antoine Walker      23  FALSE
15   2000 Elton Brand         20  FALSE
16   2000 Reggie Miller       34  FALSE
17   2000 Dikembe Mutombo     33   TRUE
18   2000 Jalen Rose          27  FALSE
19   2000 Nick Van Exel       28  FALSE
20   2000 Karl Malone         36   TRUE
21   2000 Dirk Nowitzki       21  FALSE
22   2000 Lindsey Hunter      29  FALSE
23   2000 Juwan Howard        26  FALSE
24   2000 Glenn Robinson      27   TRUE
25   2000 Bryon Russell       29  FALSE
26   2000 Sam Cassell         30  FALSE
27   2000 Stephon Marbury     22   TRUE
28   2000 Chris Webber        26   TRUE
29   2000 Tim Duncan          23   TRUE
30   2000 Eric Snow           26  FALSE
⋮    ⋮    ⋮                   ⋮   ⋮
8553 2016 Luc Mbah a Moute    29  FALSE
8554 2016 Josh Richardson     22  FALSE
8555 2016 James Ennis         25  FALSE
8556 2016 Sasha Kaun          30  FALSE
8557 2016 Damjan Rudez        29  FALSE
8558 2016 Erick Green         24  FALSE
8559 2016 Cole Aldrich        27  FALSE
8560 2016 Spencer Dinwiddie   22  FALSE
8561 2016 Sam Dekker          21  FALSE
8562 2016 Luis Montero        22  FALSE
8563 2016 K.J. McDaniels      22  FALSE
8564 2016 Cameron Payne       21  FALSE
8565 2016 Sergey Karasev      22  FALSE
8566 2016 Pat Connaughton     23  FALSE
8567 2016 Jordan Mickey       21  FALSE
8568 2016 Kirk Hinrich        35  FALSE
8569 2016 Delon Wright        23  FALSE
8570 2016 Jarnell Stokes      22  FALSE
8571 2016 Andrew Nicholson    26  FALSE
8572 2016 Chris Kaman         33  FALSE
8573 2016 Robert Sacre        26  FALSE
8574 2016 Anthony Brown       23  FALSE
8575 2016 Joseph Young        23  FALSE
8576 2016 Tibor Pleiss        26  FALSE
8577 2016 Lucas Nogueira      23  FALSE
8578 2016 Walter Tavares      23  FALSE
8579 2016 Shayne Whittington  24  FALSE
8580 2016 Solomon Hill        24  FALSE
8581 2016 Jeff Withey         25  FALSE
8582 2016 Cristiano Felicio   23  FALSE

In [50]:
?left_join

mutate-joins               package:dplyr               R Documentation

_M_u_t_a_t_i_n_g _j_o_i_n_s

_D_e_s_c_r_i_p_t_i_o_n:

     The mutating joins add columns from ‘y’ to ‘x’, matching rows
     based on the keys:

        • ‘inner_join()’: includes all rows in ‘x’ and ‘y’.

        • ‘left_join()’: includes all rows in ‘x’.

        • ‘right_join()’: includes all rows in ‘y’.

        • ‘full_join()’: includes all rows in ‘x’ or ‘y’.

     If a row in ‘x’ matches multiple rows in ‘y’, all the rows in ‘y’
     will be returned once for each matching row in ‘x’.

_U_s_a_g_e:

     inner_join(x, y, by = NULL, copy = FALSE, suffix = c(".x", ".y"), ...)

     ## S3 method for class 'data.frame'
     inner_join(
       x,
       y,
       by = NULL,
       copy = FALSE,
       suffix = c(".x", ".y"),
       ...,
       na_matches = c("na", "never")
     )

     left_join(
       x,
       y,
       by = NULL,
       copy = FALSE,
       suffix = c(".x", ".y"),
       ...,
       keep = FALSE
     )

     ## S3 method for class 'data.frame'
     left_join(
       x,
       y,
       by = NULL,
       copy = FALSE,
       suffix = c(".x", ".y"),
       ...,
       keep = FALSE,
       na_matches = c("na", "never")
     )

     right_join(
       x,
       y,
       by = NULL,
       copy = FALSE,
       suffix = c(".x", ".y"),
       ...,
       keep = FALSE
     )

     ## S3 method for class 'data.frame'
     right_join(
       x,
       y,
       by = NULL,
       copy = FALSE,
       suffix = c(".x", ".y"),
       ...,
       keep = FALSE,
       na_matches = c("na", "never")
     )

     full_join(
       x,
       y,
       by = NULL,
       copy = FALSE,
       suffix = c(".x", ".y"),
       ...,
       keep = FALSE
     )

     ## S3 method for class 'data.frame'
     full_join(
       x,
       y,
       by = NULL,
       copy = FALSE,
       suffix = c(".x", ".y"),
       ...,
       keep = FALSE,
       na_matches = c("na", "never")
     )

_A_r_g_u_m_e_n_t_s:

    x, y: A pair of data frames, data frame extensions (e.g. a tibble),
          or lazy data frames (e.g. from dbplyr or dtplyr). See
          _Methods_, below, for more details.

      by: A character vector of variables to join by.

          If ‘NULL’, the default, *_join() will perform a natural join,
          using all variables in common across ‘x’ and ‘y’. A message
          lists the variables so that you can check they're correct;
          suppress the message by supplying ‘by’ explicitly.

          To join by different variables on ‘x’ and ‘y’, use a named
          vector. For example, ‘by = c("a" = "b")’ will match ‘x$a’ to
          ‘y$b’.

          To join by multiple variables, use a vector with length > 1.
          For example, ‘by = c("a", "b")’ will match ‘x$a’ to ‘y$a’ and
          ‘x$b’ to ‘y$b’. Use a named vector to match different
          variables in ‘x’ and ‘y’. For example, ‘by = c("a" = "b", "c"
          = "d")’ will match ‘x$a’ to ‘y$b’ and ‘x$c’ to ‘y$d’.

          To perform a cross-join, generating all combinations of ‘x’
          and ‘y’, use ‘by = character()’.

    copy: If ‘x’ and ‘y’ are not from the same data source, and ‘copy’
          is ‘TRUE’, then ‘y’ will be copied into the same src as ‘x’.
          This allows you to join tables across srcs, but it is a
          potentially expensive operation so you must opt into it.

  suffix: If there are non-joined duplicate variables in ‘x’ and ‘y’,
          these suffixes will be added to the output to disambiguate
          them. Should be a character vector of length 2.

     ...: Other parameters passed onto methods.

na_matches: Should ‘NA’ and ‘NaN’ values match one another?

          The default, ‘"na"’, treats two ‘NA’ or ‘NaN’ values as
          equal, like ‘%in%’, ‘match()’, ‘merge()’.

          Use ‘"never"’ to always treat two ‘NA’ or ‘NaN’ values as
          different, like joins for database sources, similarly to
          ‘merge(incomparables = FALSE)’.

    keep: Should the join keys from both ‘x’ and ‘y’ be preserved in
          the output? Only applies to ‘nest_join()’, ‘left_join()’,
          ‘right_join()’, and ‘full_join()’.

_V_a_l_u_e:

     An object of the same type as ‘x’. The order of the rows and
     columns of ‘x’ is preserved as much as possible. The output has
     the following properties:

        • For ‘inner_join()’, a subset of ‘x’ rows. For ‘left_join()’,
          all ‘x’ rows. For ‘right_join()’, a subset of ‘x’ rows,
          followed by unmatched ‘y’ rows. For ‘full_join()’, all ‘x’
          rows, followed by unmatched ‘y’ rows.

        • For all joins, rows will be duplicated if one or more rows in
          ‘x’ matches multiple rows in ‘y’.

        • Output columns include all ‘x’ columns and all ‘y’ columns.
          If columns in ‘x’ and ‘y’ have the same name (and aren't
          included in ‘by’), ‘suffix’es are added to disambiguate.

        • Output columns included in ‘by’ are coerced to common type
          across ‘x’ and ‘y’.

        • Groups are taken from ‘x’.

_M_e_t_h_o_d_s:

     These functions are *generic*s, which means that packages can
     provide implementations (methods) for other classes. See the
     documentation of individual methods for extra arguments and
     differences in behaviour.

     Methods available in currently loaded packages:

        • ‘inner_join()’: dbplyr (‘tbl_lazy’), dplyr (‘data.frame’).

        • ‘left_join()’: dbplyr (‘tbl_lazy’), dplyr (‘data.frame’).

        • ‘right_join()’: dbplyr (‘tbl_lazy’), dplyr (‘data.frame’).

        • ‘full_join()’: dbplyr (‘tbl_lazy’), dplyr (‘data.frame’).

_S_e_e _A_l_s_o:

     Other joins: ‘filter-joins’, ‘nest_join()’

_E_x_a_m_p_l_e_s:

     band_members %>% inner_join(band_instruments)
     band_members %>% left_join(band_instruments)
     band_members %>% right_join(band_instruments)
     band_members %>% full_join(band_instruments)

     # To suppress the message about joining variables, supply `by`
     band_members %>% inner_join(band_instruments, by = "name")
     # This is good practice in production code

     # Use a named `by` if the join variables have different names
     band_members %>% full_join(band_instruments2, by = c("name" = "artist"))
     # By default, the join keys from `x` and `y` are coalesced in the output; use
     # `keep = TRUE` to keep the join keys from both `x` and `y`
     band_members %>%
       full_join(band_instruments2, by = c("name" = "artist"), keep = TRUE)

     # If a row in `x` matches multiple rows in `y`, all the rows in `y` will be
     # returned once for each matching row in `x`
     df1 <- tibble(x = 1:3)
     df2 <- tibble(x = c(1, 1, 2), y = c("first", "second", "third"))
     df1 %>% left_join(df2)

     # By default, NAs match other NAs so that there are two
     # rows in the output of this join:
     df1 <- data.frame(x = c(1, NA), y = 2)
     df2 <- data.frame(x = c(1, NA), z = 3)
     left_join(df1, df2)

     # You can optionally request that NAs don't match, giving a
     # a result that more closely resembles SQL joins
     left_join(df1, df2, na_matches = "never")